.alt-header{
    padding: var(--horizontal-space);
    margin-bottom: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.alt-header_column{
    width:33%;
}

.alt-header_title{
    font-size: 28px;
    font-weight: 600;
}

.alt-header_column:first-child{
    margin-right: auto;
}
.alt-header_column:nth-child(2){
    text-align: center;
}

.alt-header_column:last-child{
    margin-left: auto;
    margin-right: 0px;
    display: flex;
    justify-content:flex-end;
}
.alt-header_column span:last-child{
    margin-right: -10px;
    margin-left: 10px;
}