.settings-set{
    padding: 20px 0;
    border-bottom: 1px solid rgba(0, 0,0, 0.1);
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.settings-set i{
    opacity: 0.9;
    margin-right: 20px;
    font-size: 22px;
}
.settings-setcol1{
    opacity: 0.8;
    font-size: 17px;
}