.user-component{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.user-component__column:first-child{
    display: flex;
    align-items: center;
}
.user-component__column:last-child{
    color: rgba(0,0,0,0.5);
}
.user-component__avatar{
    width: 50px;
    height: 50px;
    border-radius: 15px;
    margin-right: 20px;
}
.user-component__title{
    font-weight: 600;
    font-size: 16px;
}
.user-component__subtitle{
    margin-top: 8px;
    font-size: 14px;
    color: rgba(0,0,0,0.5);x`
}

.user-component__avatar--xl{
    width: 60px;
    height: 60px;
}

.user-component__avatar--sm{
    border-radius: 20px;
}
.user-component__title--not-bold{
    font-weight: 400;
    color: black;

}
